:footer {
    --font-color-light: #ffffff;
    --font-color-dark: #1f1f1f;
}

.footer {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    margin-bottom: -8px;
}

.footer--copyright {
    font-weight: 400;
    font-size: 17px;
    color: var(--font-color-light);
}